# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/
AStarProject/.idea
AStarProject/Library/
AStarProject/Logs/
AStarProject/obj/

AStarProject/AStarProject.sln

# Other files and folders
.settings/
.idea

# Executables
*.swf
*.air
*.ipa
*.apk
*.user
*.csproj
*.csproj.meta
AStarProject/Library/
AStarProject/Temp

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
